<footer>
    <ul>
      <li>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ '/assets/img/cc-badge.png' | relative_url }}" /></a>
      </li>
      <li>
        <a href="https://www.mozilla.org/firefox/new/">
          <img src="{{ '/assets/img/firefox-button.gif' | relative_url }}" alt="download Firefox banner">
        </a>
      </li>
      <li>
        <img src="{{ '/assets/img/hairdays.png' | relative_url }}" alt="there are no bad hair days on the internet">
      </li>
    </ul>
</footer>