<aside id="sidebar">
  <img src="{{ '/assets/img/lil-rainbow.gif' | relative_url }}" alt="gif of a pixel rainbow">
  <h2>Hello,</h2>
  <p class="p-note">
    My name is <span class="p-name p-author">Amy Churchwell</span>. My pronouns are <a href="https://pronoun.is/she">she/her</a>. — I am a software engineer at <a class="p-org" href="https://mozilla.org">Mozilla</a>, where I write code for the <a href="https://www.mozilla.org/firefox/new/">Firefox browser</a>. :)
  </p>

  {% include social.html %}
  {% include navigation.html %}

  <p>See a bug or typo? <a href="https://github.com/amychurchwell/amychurchwell.com/issues/new">Please file a bug!</a> 🐛</p>

  <!-- <figure id="raccoon">
    <img class="u-logo u-photo" src="{{ '/assets/img/raccoon.png' | relative_url }}" alt="illustration of a raccoon on a laptop">
    <figcaption>
        <small>art by <a href="https://www.nonolottie.com/">nonolottie</a></small>
    </figcaption>
  </figure> -->
</aside>