/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  color: $text-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  display: flex;
  flex-direction: column;
  font-kerning: normal;
  max-height: 100vh;
  text-rendering: optimizeLegibility;
  transition: all .5s ease-in-out;

  background: $background-color;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, hr,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

.photograph {
  border: 1px solid $brand-color;
  box-sizing: border-box;
  margin: $spacing-unit auto;
  max-width: 100%;
  width: 600px;

  figcaption {
    color: $text-color;
    padding: $spacing-unit / 2;
  }

  img {
    margin: 0 !important;
    object-fit: cover;
  }
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;

  @include media-query($on-palm) {
    margin-left: $spacing-unit/2;
  }

  &.unstyled {
    margin-left: 0;
    list-style: none;
  }
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
    list-style: none;
  }

  > .post-content {
    list-style: round;
  }
}



/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: unset;
}

h1, h2 {
  font-family: $pixel-font;
}



/**
 * Links
 */

a {
  color: $text-color;
  text-underline-position: under;

  &:visited {
    text-decoration: underline;
  }

  &:hover {
    background: $secondary-brand-color;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $text-color;
  border-left: 4px solid $text-color;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding: 0 $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding: 0 $spacing-unit / 2;
    padding: $spacing-unit / 2;
  }

  @include media-query($on-palm) {
    padding: 0 $spacing-unit / 4;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    display: inline-block;
    fill: $text-color;
    height: 16px;
    padding-right: 5px;
    vertical-align: text-top;
    width: 16px;
}

/**
 * Tables
 */
table {
  border-collapse: collapse;
  border: 2px solid $text-color;
  color: $text-color;
  margin-bottom: $spacing-unit;
  text-align: $table-text-align;
  max-width: 100%;

  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: $background-color;
    border: 2px solid $background-color;
  }
  td {
    border: 2px solid $background-color;
  }
}

