/**
* Web Ring
*/

#web-ring {
  background: $container-background;
  width: 100%;
}

/**
* Navigation
*/

.site-nav {

  li {
      list-style: none;

      &.active {
        background: red;
      }
  }
}

/**
* About
*/

.about {
  color: $brand-color;
}


/**
* Footer
*/

footer {
  ul {
    margin: 0;
  }

  li {
    margin: 2px;
    display: inline-block;
    list-style: none;
  }
}

/**
* Page content
*/

.page-content {
  background: $container-background url('/assets/img/tiny_grid.png');;
  box-sizing: border-box;
  height: 100vh;
  margin: 15px 20px;
  overflow-y: scroll;
  position: relative;
}

.page-heading {
  @include relative-font-size(2);
}

.container {
  box-sizing: border-box;
  float: right;
  height: 100%;
  padding: $spacing-unit;
  width: 80%;

  @include media-query($on-palm) {
    margin: $spacing-unit/2 0;
  }

  .rss-subscribe {
    display: inline-block;
    font-size: $small-font-size;
    margin: ($spacing-unit / 2) $spacing-unit;
  }
}

