/**
* Web Ring
*/

#web-ring {
  background: $container-background;
  width: 100%;
}

/**
* Navigation
*/

.site-nav {
  @include relative-font-size(0.8);
  text-transform: lowercase;

  ul {
    list-style: none;
    margin-left: 0;
    list-style-type: "──";
    list-style-position: inside;
    border-left: 1px solid $grey-color-dark;
  }

  li {
      color: $text-color;
      white-space: nowrap;

      .active {
        background: $secondary-brand-color;
      }

      a {
        text-decoration: none;
        padding: 0 5px;
      }
  }

  #home:before {
    content: "\e150";
    font-family: sudofont;
    font-size: 1.3em;
    line-height: 0.75;
    margin-right: 5px;
    white-space: nowrap;
  }

  #about:before {
    content: "\e156";
    font-family: sudofont;
    font-size: 1.3em;
    line-height: 0.75;
    margin-right: 10px;
    white-space: nowrap;
  }
}

/**
* Footer
*/

footer {
  ul {
    margin: 0;
  }

  li {
    @include inline-block;
    margin: 2px;
    list-style: none;
  }
}

/**
* Page content
*/

.page-content {
  @include relative-font-size(0.8);
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
  border: 1px solid black;

  @include media-query($on-palm) {
    width: 100%;
  }

}

.page-heading {
  @include relative-font-size(2);
}

.container {
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  background: $container-background url('../../assets/img/tiny_grid.png');
  line-height: 2;

  @include media-query($on-palm) {
    margin: $spacing-unit/2 0;
    width: 100%;
  }

  .rss-subscribe {
    @include inline-block;
    font-size: $small-font-size;
    margin: ($spacing-unit / 2) $spacing-unit;
  }
}

/**
* About
*/

.about-card {
  border: 2px solid $background-color;
  float: right;
  padding: 5px;
}

.u-photo {
  width: 200px;
}

#unicorn {
  fill: $brand-color;
  width: 150px;
  display: inline-block;
  margin: 0 10px;
  transform: scaleX(-1);
}

