@charset "utf-8";

// silkscreen is a font by Jason Kottke
// https://www.kottke.org

// ran through fontsquirrel webfont generator
// https://www.fontsquirrel.com/tools/webfont-generator

@font-face {
  font-family: 'pixel';
  src: url('../../assets/fonts/slkscre-webfont.woff2') format('woff2'),
       url('../../assets/fonts/slkscre-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// fipps is a font by Pheist
// https://pheist.net

@font-face {
  font-family: 'fippsregular';
  src: url('../../assets/fonts/fipps-regular-webfont.woff') format('woff'),
       url('../../assets/fonts/fipps-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$base-font-family: Verdana, Helvetica, sans-serif, "Apple Color Emoji" !default;

$pixel-font: "pixel", monospace;
$pixel-drop-shadow: "fippsregular", monospace;

$base-font-size:   16px !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$text-color:       #241c15 !default;
$background-color: #DBD6F2 !default;
$brand-color:      #474973 !default;
$secondary-brand-color: #ffe5ee !default;
$container-background: rgba(255,255,255,1);

$grey-color:       #d3d2d2 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 70%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    900px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin graceful-color($prop, $color) {
  @if alpha($color) < 1 {
    #{$prop}: opacify($color, 1);
  }
  #{$prop}: $color;
}

// Import partials.
@import
  "base",
  "layout",
  "syntax-highlighting",
  "normalize",
  "sudofont",
  "components/header",
  "components/posts",
  "components/raccoon"
;
