/**
* Web Ring
*/

#web-ring {
  background: $container-background;
  width: 100%;
}

/**
* About Page
*/ 

#about-banners li {
  margin: 0;
  display: inline-block;
  list-style: none;
}

.u-email {
  text-decoration: underline;
}

/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.sm-section-wrapper {
  display: flex;
  justify-content: space-between;
  
  .sm-section, .md-section {
    background: $container-background;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    text-align: right;
    padding: $spacing-unit;
    h1, h2 {
      font-family: $pixel-font;
    }
  }
  
  .md-section {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
  
  .sm-section {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
    
    @include media-query($on-palm) {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  } 
}

.container {
  background-color: $container-background;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  padding: 5px;
  margin: $spacing-unit 0;
  
  article {
    margin: $spacing-unit;
  }
  
  .rss-subscribe {
    margin-left: $spacing-unit;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

