/**
 * Site header
 */
.site-header {
  background: $secondary-brand-color;

  .wrapper {
    a { //clean this up
      color: $text-color;
    }
  }

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-family: $pixel-font;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 2px;
  margin-bottom: 0;
  float: left;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $secondary-brand-color;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      background: $secondary-brand-color;
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $text-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;

  p {
    background: lighten($secondary-brand-color, 40%);
    padding: 0 5px 0 5px;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;

  li {
    background: lighten($secondary-brand-color, 40%);
    padding: 0 3px 0 3px;
  }
}

.site-description {
  font-family: $pixel-font;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.sm-section-wrapper {
  display: flex;
  justify-content: space-between;

  .sm-section, .md-section {
    background: $container-background;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    text-align: right;
    padding: $spacing-unit;
    h1, h2 {
      font-family: $pixel-font;
    }
  }

  .md-section {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .sm-section {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));

    @include media-query($on-palm) {
          width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
    }
  } 
}

.container {
  background-color: $container-background;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  padding: 5px;
  margin-bottom: $spacing-unit;

  article {
    margin: $spacing-unit;
  }

  .rss-subscribe {
    margin-left: $spacing-unit;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

/**
 * Web Ring
 */

 #web-ring {

  @include media-query($on-palm) {
    display: none;
  }
 }

/**
* Posts
*/
  .post-list-heading {
    font-family: $pixel-font;
    color: $text-color;
    text-align: center;
  }

  .post-list {
    list-style: none;

    > li {
      margin-bottom: $spacing-unit;
      h3 { //clean this up
        a {
          color: $text-color;
        }
      }
    }
  }

  .post-meta {
    font-size: $small-font-size;
  }

  .post-link {
    font-family: $pixel-font;
    text-transform: lowercase;
    margin-right: 12px;
    @include relative-font-size(1.5);
  }

  .post-header {
    font-family: $pixel-font;
    margin-bottom: $spacing-unit;
  }

  .post-title {
    text-transform: lowercase;
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
      @include relative-font-size(2.25);
    }
  }

.post-content {
  margin-bottom: $spacing-unit;

  a {
    border-bottom: 3px solid #fff;
    box-shadow: inset 0 -4px 0 #fff;

    &:hover {
      background: #fff;
      text-decoration: none;
    }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
