/**
* Site footer
*/

.site-footer {
    margin-top: $spacing-unit;
    
    @include media-query($on-palm) {
        display: none;
    }
    
    p {
        padding: 0 5px 0 5px;
    }
    
    h2 {
        font-family: $pixel-font;
        text-align: right;
    }
}
