/**
* Site header
*/

.site-header {
    background: $container-background;
    
    // Positioning context for the mobile navigation icon
    position: relative;
    
    // Scalloped trim
    &::after {
        background: radial-gradient(circle at 50% 6%, #fefefe 25%, rgba(0, 0, 0, 0.25) 29%, transparent 0%);
        background-color: transparent;  
        background-size: 20px 40px;  
        background-repeat: repeat-x;
        content:" ";
        height:50px;
        position:absolute;
        width: 100%;
    }
}


.site-title {
    @include relative-font-size(1.7);
    float: left;
    font-family: $pixel-font;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: $base-line-height * $base-font-size * 2.25;
    margin-bottom: 0;
    text-decoration: none;
    
    &:hover {
        background: $secondary-brand-color;
    }
}

.site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;
    
    .nav-trigger {
        display: none;
    }
    
    .menu-icon {
        display: none;
    }
    
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    
    @include media-query($on-palm) {
        background-color: $secondary-brand-color;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
        position: absolute;
        right: $spacing-unit/2;
        top: 5px;
        z-index: 2;
        
        label[for="nav-trigger"] {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            float: right;
            height: 48px;
            padding: 12px;
            width: 48px;
        }
        
        .menu-icon {
            background: $secondary-brand-color;
            display: block;
            line-height: 0;
            margin: 0 auto;
            
            > svg {
                fill: $text-color;
            }
        }
        
        input ~ .trigger {
            clear: both;
            display: none;
        }
        
        input:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }
        
        .page-link {
            display: block;
            padding: 5px 10px;
            
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}