/**
* Site header
*/

.site-header {
    margin: 0 auto;
}

.site-title {
    @include relative-font-size(1);
    color: $brand-color;
    font-family: $pixel-drop-shadow;
    letter-spacing: 2px;
    line-height: $base-line-height * $base-font-size * 2.25;
    margin-bottom: 0;

    a {
        text-decoration: none;
    }
}

.site-nav {

    li {
        display: inline-block;
        list-style: none;
    }
}
