/**
* Posts
*/

.bug-note {
    font-size: $small-font-size;
    margin-top: $spacing-unit;
}

.post-container {
    padding: $spacing-unit 0;
}

.post-list-heading {
    @include relative-font-size(1.7);
    font-family: $pixel-font;
    color: $text-color;
    text-align: center;
}

.post-list {
    list-style: none;
    position: relative;
    
    .new-post {
        position: absolute;
        left: -20px;
    }
    
    > li {
        margin-bottom: $spacing-unit / 2;
        
        h3 {
            display: inline-block;
            line-height: 1;
            margin: ($spacing-unit/3) 0 0;
        }
    }
}

.post-meta {
    display: block;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
}

.post-tag {
    background: lighten($background-color, 5%);
    border-radius: 2px;
    border: 1px solid rgba(126,126,126,.6);
    color: $text-color;
    cursor: pointer;
    font-size: $small-font-size;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 3px 10px;
    
    a {
        background: transparent;
        text-decoration: none;
    }
    
    &:hover {
        font-weight: bold;
    }
}

.post-link {
    color: $text-color;
    font-family: $pixel-font;
    margin-right: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    @include relative-font-size(2);
    font-family: $pixel-font;
    line-height: 1;
    text-transform: lowercase;
    
    @include media-query($on-laptop) {
        @include relative-font-size(2.25);
    }
}

.post-content {
    font-size: $small-font-size;
    margin-bottom: $spacing-unit;
    
    img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
    }

    h2, h3, h4, h5, h6 {
        color: $text-color;
        background: lighten($background-color, 5%);
        display: inline-block;
        padding: 10px 20px;
        font-weight: 500;
        font-family: $pixel-font;
        margin: $spacing-unit 0;
        max-width: 100%;
    }
    
    h2 {
        @include relative-font-size(1.5);

        @include media-query($on-laptop) {
            @include relative-font-size(1.75);
        }
    }
    
    h3 {
        @include relative-font-size(1.25);
        
        @include media-query($on-laptop) {
            @include relative-font-size(1.375);
        }
    }
    
    h4 {
        @include relative-font-size(1.25);
        
        @include media-query($on-laptop) {
            @include relative-font-size(1.125);
        }
    }
}