/**
* Posts
*/

.bug-note {
    font-size: $small-font-size;
    margin-top: $spacing-unit;
}

.post-container {
    padding: $spacing-unit 0;
}

.post-list-heading {
    @include relative-font-size(1.7);
    color: $text-color;
    font-family: $pixel-font;
    margin: 0;
    text-align: center;
}

.post-list {
    list-style: none;
    position: relative;
    
    .new-post {
        position: absolute;
        left: -20px;
    }
    
    > li {
        margin-bottom: $spacing-unit / 2;
        
        h3 {
            box-sizing: border-box;
            display: inline-block;
            line-height: 1;
            margin: ($spacing-unit/3) 0 0;

            @include media-query($on-palm) {
                @include relative-font-size(1.5);
            }
        }
    }
}

.post-meta {
    @include relative-font-size(0.6);
    color: $brand-color;
    display: inline-block;
    width: 100px;

    &:after {
        content: ']';
    }

    &:before {
        content: '[';
    }

    @include media-query($on-palm) {
        display: block;
        margin-top: 15px;
    }
}

.post-tag {
    a {
        @include relative-font-size(0.6);
        background: lighten($background-color, 5%);
        border-radius: 2px;
        border: 1px solid rgba(126,126,126,.6);
        color: $text-color;
        cursor: pointer;
        letter-spacing: 2px;
        padding: 3px 10px;
        text-decoration: none;

        &:hover {
            font-weight: bold;
        }
    }

    @include media-query($on-palm) {
        display: block;
    }
}

a.post-link {
    @include relative-font-size(1.1);
    color: $text-color;
    font-family: $pixel-font;
    text-decoration: none;
    margin-right: 20px;
}

.post-header {
    margin-bottom: $spacing-unit;
    border-bottom: 2px solid rgba(126,126,126,.6);

    .post-tag {
        display: block;
    }
}

.post-title {
    @include relative-font-size(2);
    display: inline-block;
    font-family: $pixel-font;
    line-height: 1;
    text-transform: lowercase;
    vertical-align: middle;
    
    @include media-query($on-laptop) {
        @include relative-font-size(2.25);
    }
}

.post-content {
    font-size: $small-font-size;
    margin-bottom: $spacing-unit;

    a {
        padding-bottom: 1px;
        border-bottom: 1px solid rgba(126,126,126,.6);

        &:hover {
            padding: 3px 0;
        }
    }
    
    img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
    }

    h2, h3, h4, h5, h6 {
        background: lighten($background-color, 5%);
        color: $text-color;
        display: inline-block;
        font-family: $pixel-font;
        margin: $spacing-unit 0;
        max-width: 100%;
        padding: 10px 20px;
        text-transform: uppercase;
    }
    
    h2 {
        @include relative-font-size(1.5);

        @include media-query($on-laptop) {
            @include relative-font-size(1.75);
        }
    }
    
    h3 {
        @include relative-font-size(1.25);
        
        @include media-query($on-laptop) {
            @include relative-font-size(1.375);
        }
    }
    
    h4 {
        @include relative-font-size(1.25);
        
        @include media-query($on-laptop) {
            @include relative-font-size(1.125);
        }
    }
}