#sidebar {
    @include relative-font-size(0.8);
    box-sizing: border-box;
    color: $brand-color;
    line-height: 2;
    padding: 0 20px;
    position: fixed;
    width: 300px;
    z-index: 2;
    left: 20px;

    @include media-query($on-palm) {
        width: 100%;
        position: unset;
        height: unset;
        float: unset;
    }
}

// Social List
.social {
    margin-bottom: $spacing-unit;

    a:hover {
        background: none;
    }

    ul {
        margin: 0;
    }

    li {
        @include inline-block;
        list-style: none;
    }
}