#sidebar {
    @include relative-font-size(0.8);
    box-sizing: border-box;
    color: $brand-color;
    float: left;
    padding: 0 20px;
    position: fixed;
    width: 20%;
    z-index: 2;

    @include media-query($on-palm) {
        width: 100%;
        position: unset;
        height: unset;
        float: unset;
    }
}

#raccoon {
    width: 250px;
    max-width: 100%;

    @include media-query($on-palm) {
        display: none;
    }

    figcaption {
        color: $text-color;
        font-style: italic;
    }
}

// Social List
.social {
    a:hover {
        background: none;
    }

    ul {
        margin: 0;
    }

    li {
        @include inline-block;
        list-style: none;
    }
}