---
layout: default
---
<div class="container">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
    <div class="post-content">
      <figure id="raccoon-gif">
        <img src="{{ '/assets/img/raccoon.gif' | relative_url }}" alt="animated gif of a raccoon on a laptop">
        <figcaption>(art by <a href="https://www.nonolottie.com/">nonolottie</a>)</figcaption>
      </figure>
      {{ content }}
    </div>
    {%- include social.html -%}
    <ul id="about-banners">
      <li>
        <a href="https://www.mozilla.org/firefox/">
          <img src="{{ '/assets/img/firefox-button.gif' | relative_url }}" alt="download Firefox banner">
        </a>
      </li>
      <li>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ '/assets/img/cc-badge.png' | relative_url }}" /></a>
      </li>
    </ul>
  </article>
</div>
