---
layout: default
---
<div class="container about">
  <article>
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <p>
        {{ content }}
    </p>

    <a href="https://www.mozilla.org/firefox/new/">
        <img src="{{ '/assets/img/firefox-button.gif' | relative_url }}" alt="download Firefox banner">
    </a>

  </article>

  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ '/assets/img/cc-badge.png' | relative_url }}" /></a>
</div>