---
layout: default
---

<main class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <section class="container">
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <div class="post-container">
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li>
            {% capture now %}{{ site.time | date: '%s' }}{% endcapture %}
            {% capture postdate %}{{ post.date | date: '%s' }}{% endcapture %}
            
            <!-- 
              hack to make postdate an integar, if you know a better way pls let me know. 
            -->
            {% assign postdate = postdate | minus: 0 %}
            {% assign month = now | minus: 2629800 %}
          
            {% if postdate >= month %}
              <img class="new-post" src="/assets/img/new.gif" alt="new post!">
            {% endif %}
  
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {% for tag in post.tags %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <span class="post-tag"><a href="{{ relative_url }}/tag/{{ tag_name }}">{{ tag_name }}</a></span>
            {% endfor %}
  
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
      </div>
      <!-- <a class="rss-subscribe" href="{{ "/feed.xml" | relative_url }}">subscribe via RSS</a> -->
    </section>
  {%- endif -%}
</main>