---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container">
    <article>
      <header class="post-header">
        {% if page.categories.size > 0 %}
          <p class="post-category"><i class="sf sf--note"></i> category: {{ page.categories }}</p>
        {% endif %}

        {% if page.date %}
        <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
        </p>
        {% endif %}

        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

        {% if page.tags.size > 0 %}
          {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a class="post-tag" href="{{ relative_url }}/tag/{{ tag_name }}">
              <i class="sf sf--tag"></i>
              {{ tag_name }}
            </a>
          {% endfor %}
        {% endif %}

        {%- if page.hero -%}
          <div class="post-hero"></div>
        {%- endif -%}
      </header>
    
      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}

        {% if page.list %}
        <ul>
          {% for post in site.[page.list] %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        <small>/amy</small>
        <p class="bug-note">☆ See a bug or typo? <a href="https://github.com/amychurchwell/amychurchwell.com/issues/new">File a bug!</a> ☆</p>
      </div>
    </article>
  </div>
</article>
