---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container">
    <article>
      <header class="post-header">
        {% if page.tags.size > 0 %}
          {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <span class="post-tag"><a href="{{ relative_url }}/tag/{{ tag_name }}">{{ tag_name }}</a></span>
          {% endfor %}
        {% endif %}
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
      </header>
    
      <div class="post-content e-content" itemprop="articleBody">
        {%- if page.image -%}
        <img src="{{ page.image }}" alt="test" class="post-image">
        {%- endif -%}
        {{ content }}
        <small>/amy</small>
        <p class="bug-note">☆ See a bug or typo? <a href="https://github.com/amychurchwell/amychurchwell.com/issues/new">File a bug!</a> ☆</p>
      </div>
    </article>
  </div>
</article>
