---
layout: default
---
<div class="container">
    <article class="post">
        <header class="post-header">
            <i class="sf sf--tags sf--lg"></i>
            <h1 class="post-title">Tag: {{ page.tag | escape }}</h1>
        </header>
        <ul>
            {% for post in site.tags[page.tag] %}
            <li>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a> 
                <span class="post-meta">{{ post.date | date_to_string }}</span>
            </li>
            {% endfor %}
        </ul>
    </article>
</div>